

.form {
  opacity: 1;
  transition: all 1s ease-in-out;

  label {
    color: $gray-600;
  }

  .is-invalid {
    label {
      color: rgba($red, .75);
    }

    input {
      border-bottom: 1px solid $red;
    }
  }

  .form-control {
    color: $gray-200;
    background: #000000;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-color: $gray-600;
    padding-left: 0;
    padding-right: 0;

    &:focus,
    &:active {
      outline: 0;
      box-shadow: none;
    }

    &:focus:required:invalid {
      border-bottom: 1px solid $blue;
    }
  }

  .address-input {
    width: 100%;

    #address {
      width: 100%;
    }
  }

  .msg {
    &-none {
      height: 0;
    }

    &-is-invalid {
      font-size: .85rem;
      color: rgba($red, .75);
    }
  }
}

.form-response {
  font-size: 1.25rem;
}

.form-success {
  .form {
    opacity: 0;
    transform: translate(0,350px);
  }

  h2.pb-5 {
    padding-bottom: .5rem !important;
  }

  .form-response {
    color: $gray-300;
    font-weight: 400;
  }
}

.form-error {
  h2.pb-5 {
    padding-bottom: .5rem !important;
  }

  .form-response {
    font-weight: 100;
    color: $red;
    margin-bottom: 1.5rem;
  }
}
