.modal {
  .modal-dialog {
    margin: 0;
    height: 100%;

    @include media-breakpoint-up(sm) {
      max-width: 100%;
      margin: 0;
    }
  }

  .modal-content {
    height: 100%;

    .modal-header {
      height: 70px;
      padding: 15px;
      z-index: 999;
      background: #000000;
      color: #ffffff;
      border: 0;
    }

    .modal-body {
      color: $gray-300;
      background: #000000;

      @include media-breakpoint-up(sm) {
        margin-top: -350px;
        transition: margin .3s linear;
      }
    }

    .container {
      @include media-breakpoint-up(md) {
        width: 60%;
        max-width: 750px;
      }
    }
  }

  &.show {
    .modal-content {
      .modal-body {
        @include media-breakpoint-up(sm) {
          margin-top: 0;
          transform: translate(0);
        }
      }
    }
  }

  .close {
    color: #ffffff;
    text-shadow: none;
    font-weight: normal;

    &:focus,
    &:active,
    &:hover,
    &:visited {
      outline: 0;
      box-shadow: none;
    }
  }
}
